body {
  background-image: url(../resources/tmnt/background.png);
  font-size: 8pt;
  font-family: "Veradna", "Tahoma", "sans-serif";
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.top-page {
  background-image: url(../resources/tmnt/bannerbg.png);
}

.top-page-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-title {
  text-align: center;
  font-size: 24pt;
  font-family: "Tahoma", "Verdana", sans-serif;
  text-shadow: 3px 3px #999999;
}

.content-area {
  width: 800px;
  margin: auto;
  border: 4px solid gray;
  border-radius: 20px;
  font: bold;
  display: flex;
  flex-wrap: wrap;
}

.rotten-review {
  width: 550px;
  background-image: url(../resources/tmnt/rbg.png);
  background-repeat: repeat-x;
  background-size: cover 83px;
}
.rotten-img {
  vertical-align: text-bottom;
  height: 83px;
}

.rating-33 {
  font-size: 48pt;
  font: bold;
  color: red;
}

.general-overview {
  background-color: #a2b964;
  width: 250px;
  font-size: 8pt;
  font-family: Arial, sans-serif;
  font: bold;
}
.footer {
  background-color: #a2b964;
  width: 800px;
  text-align: center;
}
.definitions {
  margin: 10pt;
  padding: 10pt;
  border-left: 10pt;
}
dt {
  margin-top: 10pt;
}

img.validators {
  width: 11%;
  height: 6%;
  position: fixed;
  opacity: 0.5;
}

div.validators {
  position: fixed;
  width: 12%;
  top: 87%;
  right: 0;
}

div.reviews {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  font: bold;
  font-size: 8pt;
  padding: 8px;
  margin-top: 5px;
}

div.reviews > * {
  flex: 47%;
}
.column-reviews {
  background-color: #e8dc9b;
  border: 2px solid gray;
  border-radius: 10px;
  padding-left: 5px;
  margin-top: 20px;
}

span.review-comment {
  padding-left: 5px;
  vertical-align: bottom;
  padding-top: 5px;
}

.personal-information {
  margin-top: 10px;
  display: flex;
}

.personal-information span {
  margin-top: 10px;
}

a.css-validators {
  position: absolute;
  width: 12%;
  top: 40px;
}
